
	{{ range where (where .Site.Pages "Params.type" "courses") "Params.implementation" "==" true}}
    <div class="col-md-6 col-lg-4">
      <div class="card mb-4 pb-4">
        <a href="{{ .RelPermalink }}">{{ partial "post-meta-img" . }}</a>
        <h5 class="card-title px-3">
        <a href="{{ .RelPermalink }}">{{ partial "title" . }}</a>
        </h5>
        <p class="card-text small px-3">
          {{- .Summary -}}
          {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">...</a>
          {{ end }}
        </p>
        {{ partial "post-meta" . }}
      </div>
    </div>
	{{ end }}

<!--
{{ range first 3 (where .Site.Pages.ByDate.Reverse "Type" .Site.Params.courses)  }}
  <div class="col-md-6 col-lg-4">
      <div class="card mb-4 pb-4">
        <a href="{{ .RelPermalink }}">{{ partial "post-meta-img" . }}</a>
        <h5 class="card-title px-3">
        <a href="{{ .RelPermalink }}">{{ partial "title" . }}</a>
        </h5>
        <p class="card-text px-3">
          {{- .Summary -}}
          {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">...</a>
          {{ end }}
        </p>
        {{ partial "post-meta" . }}
      </div>
    </div>
{{ end }}-->