[submodule "content/help/example/matti-niinimaki"]
	path = content/help/example/matti-niinimaki
	url = git@version.aalto.fi:aalto-media-lab/new-media/matti-niinimaki.git
[submodule "content/students/2023/andrea-anonymous"]
	path = content/students/2023/andrea-anonymous
	url = git@version.aalto.fi:aalto-media-lab/new-media/2023/andrea-anonymous.git
[submodule "content/students/2023/jane-doe"]
	path = content/students/2023/jane-doe
	url = git@version.aalto.fi:aalto-media-lab/new-media/2023/jane-doe.git
[submodule "content/students/2023/john-doe"]
	path = content/students/2023/john-doe
	url = git@version.aalto.fi:aalto-media-lab/new-media/2023/john-doe.git
[submodule "content/students/2023/nick-newmedia"]
	path = content/students/2023/nick-newmedia
	url = git@version.aalto.fi:aalto-media-lab/new-media/2023/nick-newmedia.git
