[submodule "content/help/example/matti-niinimaki"]
	path = content/help/example/matti-niinimaki
	url = git@version.aalto.fi:aalto-media-lab/new-media/matti-niinimaki.git
[submodule "content/students/2023/pili-valdivia"]
	path = content/students/2023/pili-valdivia
	url = git@version.aalto.fi:aalto-media-lab/new-media/2023/pili-valdivia.git
