{{ define "main" }}

  <div class="row">
    <aside class="mnstri-menu col-sm-4 col-lg-3">
      {{partial "nav" . }}
    </aside>
    <article class="main-page-content col-sm-8 col-lg-9 px-4">
      <div class="page-title col-12">
        <h1>
          <a href="{{ .RelPermalink }}">{{ partial "title" . }}</a>
        </h1>
        {{ if .Params.subheading}}
        <h2>{{.Params.subheading}}</h2>
        {{ end }}
      </div>
      {{ if .Params.image}}
      {{ partial "page-featured-image" . }}
      {{ end }}
      {{ .Content }}
    </article>
    {{ if default true (default .Site.Params.mnstriToC .Params.mnstriToC) }}
    <aside class="mnstri-toc col-sm-3">
      <div class="mnstri-toc-content sticky-top py-4">
        {{ partial "toc" . }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </div>
{{ end }}